<div class="ui pointing menu">
  <a class="active item"></a>
    <%= link_to "Home", blogs_path, class:'active item' %>
    <%= link_to "Register", new_user_registration_path, class:'active item' %>
    <%= link_to "Log In", new_user_session_path, class:'active item' %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:'active item'  %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
